<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @evaluation.name %>
</p>

<p>
  <b>Description:</b>
  <%= @evaluation.description %>
</p>

<h2>Questions</h2>

<%= render @evaluation.questions %>

<h2>Add a Question:</h2>
<%= form_for([@evaluation, @evaluation.questions.build]) do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>



<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
