<h1>Evaluation: <%= @evaluation.name %></h1>
<h2><%= @evaluation.description %></h2>

<p id="notice"><%= notice %></p>

<h2>Questions</h2>

<%= render @evaluation.questions %>

<h2>Add a Question:</h2>
<%= form_for([@evaluation, @evaluation.questions.build]) do |f| %>
    <table align="center" valign="middle" class="text_large">
      <tr>
        <td valign="top">
          <div class="field">
            <%= f.label :order %><br />
            <%= f.text_field :order %>
          </div>
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.label :description %><br />
            <%= f.text_area :description %>
          </div>
        </td>
      </tr>
    </table>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<div class="admin_footer">
  <%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
  <%= link_to 'Back', evaluations_path %>
</div>

