    <tr>
      <td>[ <%= question.name %> ]</td>
      <td> - </td>
      <td>[<%= question.description %>]</td>
      <td><%= link_to 'Show', [question.evaluation, question] %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Delete', [question.evaluation, question], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>

