<p id="notice"><%= notice %></p>

<p>
  <b>General:</b>
  <%= @dnagrade.general %>
</p>

<p>
  <b>Content:</b>
  <%= @dnagrade.content %>
</p>

<p>
  <b>Social:</b>
  <%= @dnagrade.social %>
</p>

<p>
  <b>Mailing:</b>
  <%= @dnagrade.mailing %>
</p>

<p>
  <b>Viral:</b>
  <%= @dnagrade.viral %>
</p>

<p>
  <b>Advertise:</b>
  <%= @dnagrade.advertise %>
</p>

<p>
  <b>Research:</b>
  <%= @dnagrade.research %>
</p>

<p>
  <b>Monitoring:</b>
  <%= @dnagrade.monitoring %>
</p>

<p>
  <b>Date:</b>
  <%= @dnagrade.date %>
</p>

<p>
  <b>Dnatest:</b>
  <%= @dnagrade.dnatest %>
</p>


<%= link_to 'Edit', edit_dnagrade_path(@dnagrade) %> |
<%= link_to 'Back', dnagrades_path %>
