<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :questionid %><br />
    <%= f.text_field :questionid %>
  </div>
  <div class="field">
    <%= f.label :optionid %><br />
    <%= f.text_field :optionid %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :dnatest %><br />
    <%= f.text_field :dnatest %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
