<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @advice.name %>
</p>

<p>
  <b>Description:</b>
  <%= @advice.description %>
</p>

<p>
  <b>Report:</b>
  <%= @advice.report %>
</p>


<%= link_to 'Edit', edit_advice_path(@advice) %> |
<%= link_to 'Back', advices_path %>
