<%= form_for @answer, :url => { :controller => 'diagnostic', :action => 'create', :id => @progress, :site => @site.id} do |f| %>

    <tr>
      <td height="173" colspan="5">

        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

          <% first = true          %>
          <%= f.hidden_field :date, :value => DateTime.now # Input the time of the answer %>
          <%= f.hidden_field :questionid, :value => @question_id # Input the Question ID %>
          <% @option.each do |opt| # Question Options %>
              <tr>
                <td colspan="3" class="text_medium">
                  <%=
                      # Get the selected option
                      if first
                        first = false
                        f.radio_button :optionid, opt.id, { :checked => true  }
                      else
                        f.radio_button :optionid, opt.id
                      end
                  %>
                  <%= f.label :optionid, opt.description # Option description %>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>

          <% end %>

        </table>

      </td>

    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
      <td colspan="2" rowspan="7" align="left" valign="top">&nbsp;</td>
      <td rowspan="4" align="left" valign="top">
      <td align="center" valign="middle" bgcolor="#FFFFFF">
        <%= image_submit_tag "quest_15.gif", :size => "238x88" # The submit image button %>
      </td>
      <td rowspan="7">&nbsp;</td>
    </tr>

<% end %>


