<table width="1025" height="90%"  border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
  <tr>
    <td colspan="10"><%= image_tag "spacer.gif", :size => "100x25" %></td>
  </tr>
  <tr>
    <td colspan="2" rowspan="12">&nbsp;</td>
    <td height="122" colspan="5" align="left" valign="top"><a href="index.html"><%= image_tag "quest_03.gif", :size => "608x122" %></a></td>
    <td colspan="3" rowspan="7">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" align="left" valign="top">
      <%= image_tag "quest_05.gif", :size => "166x31" %></td>
    <td colspan="2" align="left" valign="top" class="page_title">
      <%= @question.name %>
    </td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5" align="left" valign="top"><span class="page_title_white">Question <%= @progress %></span> <span class="page_title">of <%= @total_questions %></span></td>
  </tr>
  <tr>
    <td colspan="5" align="left" valign="top">
      <%= image_tag "spacer.gif", :size => "100x8" %></td>
  </tr>
  <tr>
    <td colspan="5" align="left" valign="top" class="text_large"><%= @question.description %></td>
  </tr>

  <%= render 'form' %>

  <tr>
    <td align="left" valign="top" class="text_medium_blue"><a href="back">Back</a></td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <% for i in 1..10  %>
            <td height="8" class=
              <% if ((10 * @progress) / @total_questions) >= i  %>
                  <%= "progress_bar_full" %>
              <% else %>
                  <%= "progress_bar_unfill" %>
              <% end %>
                      <%= image_tag "spacer.gif", :size =>  "60x8"%></td>
        <%   end     %>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="4" rowspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td rowspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td rowspan="2">&nbsp;</td>
    <td colspan="3" align="left" valign="top">&nbsp;</td>
    <td colspan="2" rowspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>
      <%= image_tag "spacer.gif", :size => "24x1" %></td>
    <td>
      <%= image_tag "spacer.gif", :size => "13x1" %></td>
    <td>
      <%= image_tag "spacer.gif", :size => "55x1" %></td>
    <td>
      <%= image_tag "spacer.gif", :size => "21x1" %></td>
    <td>
      <%= image_tag "spacer.gif", :size => "90x1" %></td>
    <td>
      <%= image_tag "spacer.gif", :size => "440x1" %></td>
    <td>
      <%= image_tag "spacer.gif", :size => "2x1" %></td>
    <td>
      <%= image_tag "spacer.gif", :size => "90x1" %></td>
    <td>
      <%= image_tag "spacer.gif", :size => "238x1" %></td>
    <td>
      <%= image_tag "spacer.gif", :size => "51x1" %></td>
  </tr>
</table>
